@page "/"
@using Models
@inject NavigationManager NavigationManager

<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog</h1>

<div class="row mb-4">
    <div clas="col-sm-6">
        <button type="button" class="btn btn-primary" @onclick="@CreateGame">New Game</button>
    </div>
</div>

@if (games is null) 
{
    <p><em>Loading...</em></p>
} 
else {
    <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>

    <tbody>
        @foreach (var game in games) 
        {
            <tr>
                <td>@game.Id</td>
                <td>@game.Name</td>
                <td>@game.Genre</td>
                <td>@game.Price</td>
                <td>@game.ReleaseDate.ToString("MM/dd/yyyy")</td>
                <td></td>
            </tr>
        }
    </tbody>

</table>
}




@code {
    
    private Game[]? games;

        protected override void OnInitialized()
        {
            games = GameClient.GetGames();
        }

    private void CreateGame()
    {
        NavigationManager.NavigateTo("/game");
    }
}

